<?xml version="1.0"?>
<launch>
    <arg name="odom_topic" default="/hiwonder/odom" />
    <arg name="odom_raw_topic" default="odom_raw" />
    <arg name="odom_lidar_topic" default="odom_lidar" />
    <arg name="imu_topic" default="imu" />
    <arg name="map_frame" default="map" />
    <arg name="base_frame" default="hiwonder/base_footprint" />
    <arg name="odom_frame" default="hiwonder/odom" />

    <node pkg="rostopic" type="rostopic" name="set_initial_pose"
        args="pub /set_pose geometry_msgs/PoseWithCovarianceStamped '{header: {frame_id: 'hiwonder/base_footprint'}, pose: {pose: {position: {x: 0.245, y: -1.787, z: 0.0}, orientation: {w: 1.0}}}}' -1" />


    <!-- 扩展卡尔曼数据融合 -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen" clear_params="true">
        <rosparam command="load" file="$(find hiwonder_slam)/config/robot_localization.yaml" />
        <!-- <remap from="odometry/filtered" to="$(arg odom_topic)"/> -->
        <param name="two_d_mode" value="true" />
        <!-- <param name="imu0"              value="$(arg imu_topic)"/> -->
        <!-- <param name="odom0"             value="$(arg odom_raw_topic)"/> -->
        <!--<param name="odom1"             value="$(arg odom_lidar_topic)"/>-->
        <param name="map_frame" value="$(arg map_frame)" />
        <param name="odom_frame" value="$(arg odom_frame)" />
        <param name="world_frame" value="$(arg odom_frame)" />
        <param name="base_link_frame" value="$(arg base_frame)" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find hiwonder_slam)/rviz/robot_localization.rviz" />

</launch>
